.header{
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);

  z-index: 100;
}

.left-section{
  align-items: center;
  display: flex;
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;

}

.search-button{
  height: 39px;
  width: 60px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-right: 10px;
  border-radius: 0 20px 20px 0;

  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  font-size: 12px;
  bottom: -50px;
  left: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.voice-search-button .tooltip{
  margin-left: -50px;
}

.upload-icon-container .tooltip{
  margin-left: -16px
}

.youtube-apps-icon-container .tooltip{
  margin-left: -32px;
}

.notifications-icon-container .tooltip{
  margin-left: -30px;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}

.search-button:hover,
.voice-search-button{
  cursor: pointer;
}

.search-button,
.voice-search-button,
.upload-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(240, 240, 240);
}

.voice-search-icon{
  height: 24px;
}

.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 15px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 20px 0 0 20px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-icon{
  height: 25px;
}

.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;

}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}

.notifications-icon-container{
  position: relative;
  top: 2px;
}

.youtube-apps-icon-container{
  position: relative;
  top: 2px;
}

.notifications-count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.notifications-count:hover{
  cursor: pointer;
}

.current-user-picture{
  height: 32px;
  border-radius: 16px;
}

.upload-icon:hover,
.youtube-apps-icon,
.notifications-icon,
.current-user-picture,
.youtube-logo,
.hamburger-menu{
  cursor: pointer;
}